/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color:#555555;
    color: #FFF;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    margin:0 auto;

}

body {
    font-size: 1.3em;
}

a {
    color:#cccccc;
}

#date {
    color: #888;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


#ctn_hotel_fpr {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_fpr:hover {
    transition: all .2s ease-in-out;
}

#img_a_fpr:hover {
    transform: scale(1.5);
}


#ctn_hotel_sl {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_sl:hover {
    transition: all .2s ease-in-out;
}

#img_a_sl:hover {
    transform: scale(1.5);
}


#hotel_lf {
    position: absolute; top:300px;left:40%;
}

#ctn_hotel_lf {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_lf:hover {
    transition: all .2s ease-in-out;
}

#img_a_lf:hover {
    transform: scale(1.5);
}

#ctn_hotel_fs {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_fs:hover {
    transition: all .2s ease-in-out;
}

#img_a_fs:hover {
    transform: scale(1.5);
}

#ctn_hotel_l {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_l:hover {
    transition: all .2s ease-in-out;
}

#img_a_l:hover {
    transform: scale(1.5);
}

#ctn_hotel_lh {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_lh:hover {
    transition: all .2s ease-in-out;
}

#img_a_lh:hover {
    transform: scale(1.5);
}

#ctn_hotel_rh {
    position: absolute; top:50px;right:5%;width:40%;color:dimgrey;background-color: navajowhite;opacity:0.9;
}

#img_a_rh:hover {
    transition: all .2s ease-in-out;
}

#img_a_rh:hover {
    transform: scale(1.5);
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media screen and (min-width: 100px) {

    #hotel_lh {
        position: absolute; top:184px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:130px;left:45%;z-index: 15;
    }

    #hotel_fs {
        position: absolute; top:130px;left:50%;z-index: 10;
    }

    #hotel_sl {
        position: absolute; top:130px;left:30%;z-index: 15;
    }

    #hotel_l {
        position: absolute; top:100px;left:30%;z-index: 10;
    }


    #hotel_fpr {
        position: absolute; top:80px;left:47%;
    }

    #hotel_fpr img {
        width :50px;
    }

    #hotel_l img {
        width :50px;
    }

    #hotel_sl img {
        width :50px;
    }

    #hotel_fs img {
        width :50px;
    }

    #hotel_rh img {
        width :50px;
    }

    #hotel_lh img {
        width :50px;
    }

}


@media screen and (min-width: 480px) {

    #hotel_lh {
        position: absolute; top:210px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:150px;left:46%;
    }

    #hotel_fs {
        position: absolute; top:120px;left:50%;
    }

    #hotel_sl {
        position: absolute; top:140px;left:37%;
    }

    #hotel_l {
        position: absolute; top:90px;left:35%;
    }


    #hotel_fpr {
        position: absolute; top:70px;left:47%;
    }

    #hotel_fpr img {
        width :80px;
    }

    #hotel_l img {
        width :80px;
    }

    #hotel_sl img {
        width :80px;
    }

    #hotel_fs img {
        width :80px;
    }

    #hotel_rh img {
        width :80px;
    }

    #hotel_lh img {
        width :80px;
    }

}

@media screen and (min-width: 800px) {

    #hotel_lh {
        position: absolute; top:260px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:200px;left:47%;
    }

    #hotel_fs {
        position: absolute; top:200px;left:52%;
    }

    #hotel_sl {
        position: absolute; top:219px;left:37%;
    }

    #hotel_l {
        position: absolute; top:150px;left:37%;
    }


    #hotel_fpr {
        position: absolute; top:100px;left:44%;
    }

}

@media screen and (min-width: 1000px) {

    #hotel_lh {
        position: absolute; top:360px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:230px;left:50%;
    }

    #hotel_fs {
        position: absolute; top:230px;left:54%;
    }

    #hotel_sl {
        position: absolute; top:219px;left:37%;
    }

    #hotel_l {
        position: absolute; top:150px;left:37%;
    }


    #hotel_fpr {
        position: absolute; top:100px;left:44%;
    }

}


@media screen and (min-width: 1200px) {

    #hotel_lh {
        position: absolute; top:400px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:300px;left:50%;
    }

    #hotel_fs {
        position: absolute; top:300px;left:55%;
    }

    #hotel_sl {
        position: absolute; top:330px;left:37%;
    }

    #hotel_l {
        position: absolute; top:230px;left:38%;
    }


    #hotel_fpr {
        position: absolute; top:130px;left:43%;
    }

}

@media screen and (min-width: 1300px) {

    #hotel_lh {
        position: absolute; top:410px;left:59%;
    }

    #hotel_rh {
        position: absolute; top:290px;left:50%;
    }

    #hotel_fs {
        position: absolute; top:300px;left:55%;
    }

    #hotel_sl {
        position: absolute; top:350px;left:36%;
    }

    #hotel_l {
        position: absolute; top:230px;left:38%;
    }


    #hotel_fpr {
        position: absolute; top:145px;left:44%;
    }

}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
